{% load static %}

<style type="text/css">
	.txt1{
	position: relative;
	top: auto;
	bottom: -20px;
	width: 300px;
	height: 40px;
	font-size: 12px;

	}

	.txt2{
	position: relative;
	top: 20px;
	bottom: 20px;
	width: 300px;
	height: 130px;
	font-size: 12px;
	}

	.col{
	margin-top: 30px;
	margin-bottom: 10px;
	}

	button{
	position: relative;
	top: 0px;
	bottom: 20px;
	width: 300px;
	height: 40px;

	}
</style>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Sodiq Kayode Azeez | Software Engineer | azeezsodiqkayode@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Sodiq .K. Azeez</h1>
					<h2>Software Engineer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
							<h3><a id="pdf" href="#contact">Contact Me</a></h3>
						<h3><a href="mailto:azeezsodiqkayode@gmail.com">azeezsodiqkayode@gmail.com</a></h3>
						<h3>+234 813 182 6967</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p>
								A resourceful individual with an unsearchable intelligent quotient. One who will contribute
continuously and immeasurably well to the growth of himself, his liaised institution and society at
large through befitting innovations and counseling based on acquired professional and life experience.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Backend Developer</h2>
									<p>Python Django, Javascript	</p>
								</div>

								<div class="talent">
									<h2>Design</h2>
									<p>CSS, Photoshop </p>
								</div>

								<div class="talent">
									<h2>Email Marketing</h2>
									<p>Mailchamp, Mailerlite</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>Python</li>
								<li>SQL</li>
								<li class="last">Javascript</li>
							</ul>

							<ul class="talent">
								<li>CSS</li>
								<li>Mailchimp</li>
								<li class="last">Shopify</li>
							</ul>

							<ul class="talent">
								<li>WordPress</li>
								<li>HTML</li>
								<li class="last">Zapier</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Zuri Team/HNGI8/ I4G </h2><br>
								<h3>Trainee/Intern	</h3>
								<h4>April 2021 - Date</h4>
								<p>Backend Developer (Python, Django)
 </p>
							</div>
							<div class="job">
								<h2>Pukutu Ltd, Israel </h2><br>
								<h3>Technical Support Engineer - Remote	</h3>
								<h4>Oct 2017 - Dec 2020</h4>
								<p>Technical analysis including: API management, Active Directory management, SQL queries to databases, Proxy and server maintenance and  Research in previous cases.<br>Design customized strategies for clients including consumer segmentation and targeting.<br>Developed the in-house SEO process - managing tools, documenting,  communicating best practices and implementing improvements to ensure better client results.<br>Prepared the monthly/quarterly reports & performance insight for all digital campaigns, and identify techniques to make the campaigns more effective.<br>
 </p>
							</div>

							<div class="job">
								<h2>Pukutu Ltd, Israel </h2><br>
								<h3>Team Lead, Customer Support - Remote</h3>
								<h4>Oct 2015 - Dec 2017</h4>
								<p>Improved customer ticket resolution time by 30% through ticket-workflow standardization.<br>Averaged a customer satisfaction rating of 90%, 15% higher than the company average.<br>Leveraged ticket resolution process and customer feedback to improve paid subscription, resulting in a 25% increase in lead conversion.<br>
 </p>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>University of Lagos, Lagos, Nigeria</h2>
							<h3>BSc (Hons) Surveying and Geoinformatics Engineering &mdash; <strong> 4.63 / 5.00</strong> </h3>
						</div>
					</div><!--// .yui-gf -->



				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->


		<!--Contact form-->
	<div id="contact" >
		<h4>Contact me directly if you have any questions</h4><br>
		<p>
			Please write your name, email address and a message below if you have any questions.<br>
			I will respond to ASAP.
		</p>
		<form method="post">
        {% csrf_token %}
			<div class = 'row'>
				<div class ='col'>
					<label style= "margin-top:20px; font-size:15px;"  for="name"> Full Name</label><br>
            		<input id="name" class = 'txt1' type = 'text' placeholder="Full name" name="name" required></div>
				<div class ='col'>
					<label style= "margin-top:20px; font-size:15px;" for="email"> Email</label><br>
					<input id="email" class = 'txt1'  type = 'email' placeholder="Email" name="email" required></div>
				<div class ='col'>
					<label style= "margin-top:20px; font-size:15px;" for="message"> Message</label><br>
					<textarea id="message" class = 'txt2' placeholder=" Leave a message ..." name="message" rows="12" cols="25" required></textarea></div>
			</div>

            <button type="submit">Submit</button>
        </form>
    </div>


	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

